.main-div {
    height: 100%;
    width: 100%;
    display: inline-block;
    /* font-family: 'Courier New', Courier, monospace */
    font-family: "Open Sans", verdana, arial, sans-serif
}
.dropdown-div {
    width: 20%;
}

#title {
    font-size: 20px;
    text-decoration: underline;
}

#tracking_banner {
    /* border-style: dotted; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: start
}
.traking_banner_item {
    margin-right: 10px;
    /* border-style: dotted; */
}
#tracking_button {
    width: 92px;
}
#graphs {
    /* border-style: dotted; */
    margin-top: 10px;
    max-height: 650px;
    max-width: 1400px;
}
div#temperature-vs-time {
    padding-left: 20px;
    /* padding-right: 20px; */
    height: 500px;
    width: 95vw
}

div#rangeslider {    
    padding-left: 20px;
    height: 10vh;
    width: 95vw
}

div#rangeslider .infolayer{    
    visibility: hidden;
}

#hover_in {
    padding: 1rem;
    border: 1px solid #d8d8d8;
    border-radius: 0 0 20px 20px;
    border-bottom: 0;    
    text-align: left;
}

div#hover_in {
    background-color: lightsteelblue;
}

#hover_table {
    border-spacing: 0;
    line-height: 0;
}

h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 2.0rem; 
    line-height: 1.6;  
    letter-spacing: 0;
}
#title {
    text-align: center;
}

button {
    /* position: relative;
    left : 10px; */
    border-radius: 10px;
    background-color: white;
    font: 16px;
}

button:hover {
    /* box-shadow: 0 12px 10px 0 rgba(0,0,0,0.24), 0 17px 20px 0 rgba(0,0,0,0.19); */
    background-color: lightskyblue;
}

td:not(.CalendarDay) {
    border-bottom: 0;
}

/* td#tracking {
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

td#btn-td {
    padding-top: 0;
    padding-bottom: 0;
}

td#rs-td {
    padding-top: 0;
    padding-bottom: 0;
} */

div#zoom_rangeslider {
    width: 40vw;
}

.custom-tab {
    padding: 12px;
}

.opt_div {
    background-color: lightgray;
    padding: 10px;
    max-width: 400px;
}

.export_div {
    display: inline-block;
}

.export_button {
    display: inline-block;
}